/* Font x pergamene */
@font-face {
    font-family: "Enchanted Land";
    src: url(/fonts/Enchanted\ Land.otf);
}

article {
    width: 60%;
    padding: 5% 10%;

    display: flex;
    flex-direction: column;
    justify-content: left;


    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3vw;
}

.div-mappa {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(.6vw + .4rem);
}

.div-mappa img {
    width: 100%;

    border: calc(.2vw + .2rem) solid white;
    border-radius: 3vw;
}

.div-mappa p {
    font-style: italic;
}

.box-pergamena {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pergamena {
    background-image: url(/img/pergamena.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17.5rem;
    height: 25rem;
    margin: 2% 0%;
    display: inline-block;
    transition: transform 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pergamena:hover {
    transform: scale(1.17);
}

.pergamena p {
    font-family: "Enchanted Land";
    margin: 0% 13%;
    text-align: center;
    font-size: 17px;
    color:rgb(0, 0, 0)
}

.pergamena p cite {
    font-family: "Enchanted Land";
    font-size: 25px;
}

