<nav id="nav">
    <a href="/">Home</a>
    <div class="dropdown">
        <a href="/manuali">Manuali<span class="arrow"></span></a>
        <div class="dropdown-content">
            <a href="/manuali/manuale-giocatore">Giocatore</a>
            <a href="/manuali/manuale-mostri">Mostri</a>
            <a href="/manuali/manuale-dungeon-master">Master</a>
            <a href="/manuali/manuale-xanathar">Xanathar</a>
            <a href="/manuali/manuale-tasha">Tasha</a>
            <a href="/manuali/manuale-eberron">Eberron</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="/lore">Lore<span class="arrow"></span></a>
        <div class="dropdown-content">
            <div class="sub-dropdown">
                <a href="/lore/mondo">Mondo<span class="arrow"></span></a>
                <div class="sub-dropdown-content">
                    <a href="/lore/mondo/polis">Polis</a>
                    <a href="/lore/mondo/ridium">Ridium</a>
                    <a href="/lore/mondo/lumines">Lumines</a>
                    <a href="/lore/mondo/foresta">Foresta delle luci fioche</a>
                    <a href="/lore/mondo/shatten">Shatten</a>
                    <a href="/lore/mondo/pakt">Pakt eufel</a>  
                    <a href="/lore/mondo/ecatombe">Ecatombe est</a>
                    <a href="/lore/mondo/devy">Devy D Jones</a>
                    <a href="/lore/mondo/rlyegh">R'lyegh</a>
                   <!-- <a href="/lore/mondo/cronius">Cronius</a>
                    <a href="/lore/mondo/vronn">Vronn dall</a>
                    <a href="/lore/mondo/ivit">Ivit Fiel</a> -->
                </div>
            </div>
            <div class="sub-dropdown">
                <a href="/lore/personaggi">Personaggi<span class="arrow"></span></a>
                <div class="sub-dropdown-content">
                    <a href="/lore/personaggi">Milean Nema</a>
                    <a href="/lore/personaggi">Ecle Tauvros</a>
                    <a href="/lore/personaggi">Etc</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <a href="#">Mappe<span class="arrow"></span></a>
        <div class="dropdown-content">
            <a href="#">---</a>
            <a href="#">---</a>
            <a href="#">---</a>
            <a href="#">---</a>
            <a href="#">---</a>
            <a href="#">---</a>
            <a href="#">---</a>
            <a href="#">---</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#">Schede<span class="arrow"></span></a>
        <div class="dropdown-content">
            <a href="/schede/milean-nema">Nicola</a>
            <a href="#">Kevin</a>
            <a href="/schede/dedachos-nipphos">Diego</a>
            <a href="#">Davide</a>
            <a href="#">Cino</a>
            <a href="#">Manuel</a>
            <a href="#">Philemon</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="">Soundtrack<span class="arrow"></span></a>
        <div class="dropdown-content">
            <a href="#">Chill</a>
            <a href="#">Combat</a>
            <a href="#">Momento epico</a>
        </div>
    </div>
</nav>