<section class="section">
    <h2>l'isola selvaggia</h2>
    <hr>

    <div id='wrapper'>
            <div id='image'></div>
    </div>
    <section class="sez">
        <h3>ma dove ci troviamo?</h3>

        

        <div class="paragrafo">
            <br><br>
            <p>
                (allora, per chi si chiede si pronuncia Relex)
                "ti odio davide"
            </p>
        </div>

    </section>
   

</section>