p {
    font-family:'Times New Roman', Times, serif;
}

span{
    font-family: 'Times New Roman', Times, serif;
}



.arcipelaghi {
    text-align: left;
    margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;

}

.narrazione {
    background-image: url(../img/pagina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 250px;
}

.mappa-edean{
    margin-top: 6%;
    width:800px;
    height:450px;
    border-style: solid;
    border-radius: 25px;
    position: center;
}
.imgDescrittive{
    margin-top: 3%;
    width:200px;
    height:200px;
    border-style: solid;
    border-radius: 25px;
}
.prova{
    display: inline-block;
    margin-right: 2%;
}

.lista {
    margin-top: 5%;
    margin-left: 5%;

}
li{
    margin-top: 2%;
}