@font-face {
    font-family: "Gilgan";
    src: url(../fonts/Gilgan.otf);
}


p {
    font-family:'Times New Roman', Times, serif;
}

span{
    font-family: 'Times New Roman', Times, serif;
}

<<<<<<< Updated upstream
.sez {
=======
li{
    font-family: "Gilgan";
}



.arcipelaghi {
>>>>>>> Stashed changes
    text-align: left;
    margin-top: 6%;
    margin-left: 17%;
    margin-right: 20%;
<<<<<<< Updated upstream
}

.paragrafo {
    margin-top: 2%;
}

.paragrafo p {
    font-size: 20px;
=======
>>>>>>> Stashed changes
}

.narrazione {
    background-image: url(../img/pagina.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.narrazione hr {
    margin: 6% 0%;
}

.narrazione p {
    text-align: center;
    font-size: 25px;
    color:rgb(255, 255, 255)
}

.mappa {
    text-align: center;
    margin-top: 6%;
}

.img-mappa{
    width:800px;
    height:450px;
    border-style: solid;
    border-radius: 25px;
}

.lista-ere {
    margin-left: 11%;
}

.lista-ere ol li {
    font-size: 20px;
}

.lista-ere ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.imgDescrittive{
    margin-top: 2%;
    width:200px;
    height:200px;
    border-style: solid;
    border-radius: 25px;
}
.prova{
    display: inline-block;
    margin-right: 3%;
    margin-top: 6%;
}

.prova p{

    text-align: center;
}

.lista {
    margin-top: 5%;
    margin-left: 5%;

}

.scritteDescrittive
{
    margin-top: 3%;
    margin-left: 11%;
}

.scritteDescrittive li{
    margin-top: 2%;
}