p {
    font-family:'Times New Roman', Times, serif;
}

.arcipelaghi {
    text-align: left;
    margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;

}

.section {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
    
}

.lista {
    margin-top: 5%;
    margin-left: 5%;

}