/* Eric Meyer CSS Reset */

@import url('/css/emcssreset.css');

/* Css partials (header, navbar, footer) */

@import url('/css/partials/header.css');
@import url('/css/partials/nav.css');
@import url('/css/partials/footer.css');

/* Importazione dei font */

/* Font per h1 */
@font-face {
    font-family: "Dragon Hunter";
    src: url(/fonts/font-header-navbar.otf);
}

/* Font per h2 e h3 */
@font-face {
    font-family: "Bebas Neue";
    src: url(/fonts/BebasNeue-Regular.ttf);
}

/* Font h4 */
@font-face {
    font-family: "Gilgan";
    src: url(/fonts/Gilgan.otf);
}

* {
    color: #fff;
}

body {

    width: 100%;
    height: auto;

    /* Padding e margin vanno a rubare spazio alla width senza andare oltre*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    /* Il body diventa un contenitore flexbox */ 
    display: flex;
    flex-flow: row wrap;

    /* Background */
    background-image: url('../img/sfondo.jpg');
    background-size: cover;
    background-attachment: fixed; /* Rendi lo sfondo fisso mentre scorri la pagina */
    background-repeat: no-repeat;
    background-position: center;
}

/* Impostazione del font e grandezze dei titoli */
h1 {
    font-family: 'Dragon Hunter'; 
    font-size: calc(1vw + 2rem);
}
h2, h3 {
    font-family: 'Bebas Neue';
}
h2 { 
    font-size: calc(2.5vw + 2rem);
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-family: 'Gilgan';
    font-size: 1.2rem;
}
p {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

/* Impostiamo le caratteristiche del main,
anch'esso uguale per tutte le pagine*/
main {

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: calc(1.5vw + 1rem);

    background-color: rgba(0, 0, 0, 0.2);
    padding: calc(1.5vw + 1rem);
    backdrop-filter: blur(5px); /* Effetto sfuocatura */

}

/* Preparo le section che sono la base di quasi ogni pagina */
section {

    width: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

    gap: calc(.9vw + .6rem);

    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: calc(2.1vw + 1.4rem);

}

/* Separatori usati nelle section */
hr {
    width: 50%;
}

/* Animazione di Fade-In per al caricamento della pagina */

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
