/* Importazione dei font */
@font-face {
    font-family: "Dragon Hunter";
    src: url(/fonts/font-header-navbar.otf);
}

@font-face {
    font-family: "Bebas Neue";
    src: url(/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Gilgan";
    src: url(/fonts/Gilgan.otf);
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: row wrap;

    /* Background e font */
    font-family: "Bebas Neue";
    background-image: url('../img/sfondo.jpg'); /* Aggiungi un'immagine fantasy di sfondo */
    background-size: cover;
    background-attachment: fixed; /* Rendi lo sfondo fisso mentre scorri la pagina */
    background-repeat: no-repeat;
    background-position: center;
}

/* Impostazione del font e grandezze dei titoli */
h1 {
    font-family: 'Dragon Hunter'; 
    font-size: 300%;
}
h2 {
    font-family: 'Bebas Neue'; 
    font-size: 600%;
}
h3 {
    font-family: 'Bebas Neue'; 
    font-size: 25px;
}

p {
    font-family: "Gilgan";
}

header {
    width: 100vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    /* Impostare la sua grafica */
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.6); /* Sfondo con sfumatura nera */
    color: #fff;
}

#navbar {
    width: 100%;

    font-family: 'Dragon Hunter';
    font-size: calc(1em + 1.5vh);
    background-color: rgba(0, 0, 0, 0.7);
    
    /* Facciamo restare la navbar sticky */
    position: sticky;
    top: 0;
    z-index: 2; /* Sopra tutto */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Imposto l'opacità a 1 del background quando tramite js
capisco che la navbar è diventata sticky */
.nav-container-sticky {
    background-color: rgba(0, 0, 0, 1) !important;
}

nav a {
    width: auto;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    visibility: hidden;
    font-size: 14px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.sub-dropdown {
    position: relative;
}
.sub-dropdown-content {
    visibility: hidden;
    font-size: 14px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 180px;
    z-index: 1;
    top: 0;
    left: 100%;
    border: 0;
    border-left: 2px;
    border-color: #fff;
    border-style: solid;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
}

/* Aggiungi questa regola per mostrare il sub-dropdown quando passi sopra l'elemento principale */
.sub-dropdown:hover .sub-dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    right: 10px; /* Posizione della freccia */
    top: 43%;
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}

/* Ruota la freccia quando il dropdown è aperto */
.dropdown:hover > a > .arrow, .sub-dropdown:hover .arrow {
    transform: rotate(-90deg);
}


/* Impostiamo le caratteristiche del main,
anch'esso uguale per tutte le pagine*/
main {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 2%;
    backdrop-filter: blur(5px); /* Effetto sfuocatura */
}

.section {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
}

footer {
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

/* Animazione di Fade-In per al caricamento della pagina */

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
