/* CAROUSEL DI IMMAGINI */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 25px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
}

img {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: white; /* Rendiamo le freccette bianche */
    font-weight: bold; /* Aggiungiamo grassetto per maggiore visibilità */
    padding: 5px 10px; /* Aggiungiamo spazio intorno alle freccette */
}

/* PRESENTAZIONE GIOCATORI E PLAYER */

.player-grid {

    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.player-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;

    width: 14rem;
    position: relative;

}

/* Animazione di transizione da giocatore a personaggio */

/* PARTE IMMAGINE */
.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Imposta il livello dell'immagine sovrapposta */
}

.fade-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.fade-img img {
    border-radius: 50%;
}

/*  Necessari per animazione */
#img1 {
    opacity: 1;
    /* Animazione di dissolvenza */
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 0.5s;
}
#img2 {
    opacity: 0;
    /* Animazione di dissolvenza */
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out, transform 0.5s;
}
#img2:hover + #img1 {
    opacity: 0;
    transform: scale(1.07);
}
#img2:hover {
    opacity: 1;
    transform: scale(1.07);
}

/* PARTE TESTO */

/* Grafica del div player info */

/* Animazione di transizione da testo 1 a testo 2 */

.overlay-name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Imposta il livello del testo sovrapposto */
}

.fade-names {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fade-names h3 {
    /* Stile dei testi */
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.07rem;

    width: 100%;
    text-align: center;
    
    /* Animazione di dissolvenza */
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-out;
    transition-delay: 0.2s;

}

/* Necessari per l'animazione */
#name1 {
    opacity: 1;
}
#name2 {
    opacity: 0;
}
#img2:hover + img + div > #name1 {
    opacity: 0;
}
#img2:hover + img + div > #name2 {
    opacity: 1;
}