nav {
    width: 100%;
    font-size: calc(1.2vw + .8rem);

    background-color: rgba(0, 0, 0, 0.7);
    
    /* Facciamo restare la navbar sticky */
    position: sticky;
    top: 0;
    z-index: 2; /* Sopra tutto */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Imposto l'opacità a 1 del background quando tramite js
capisco che la navbar è diventata sticky */
.nav-container-sticky {
    background-color: rgba(0, 0, 0, 1);
}

nav a {
    font-family: 'Dragon Hunter';
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: calc(.5vw + .2em);

    padding: calc(.4vw + .4em) calc(1vw + .7em);
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.3em .25em 0 0.25em;
    border-color: #fff transparent transparent transparent;
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}

/* Ruota la freccia quando il dropdown è aperto */
.dropdown:hover > a > .arrow, .sub-dropdown:hover .arrow {
    transform: rotate(-90deg);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: calc(.9vw + .6rem);

    padding: calc(.9vw + .6rem) 0;
    box-sizing: border-box;

    width: max-content;
    min-width: 100%;

    visibility: hidden;
    font-size: .6em;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
}

.dropdown-content a {
    padding: calc(.1vw + .08em) calc(.9vw + .6em) ;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: calc(.9vw + .6em);

    padding: calc(.9vw + .6rem) 0;

    width: max-content;
    visibility: hidden;
    font-size: 1em;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    top: 0;
    left: 100%;
    top: calc(-.9vw - .6rem);
    border-left: calc(.2vw + .1rem);
    border-color: #fff;
    border-style: solid;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
}

.reverse {
    border-left: 0;
    border-right: calc(.2vw + .1rem);
    border-style: solid;
    border-color: #fff;
    left: calc(-100% + .9vw + .6rem - .2vw - .1rem);
}

/* Aggiungi questa regola per mostrare il sub-dropdown quando passi sopra l'elemento principale */
.sub-dropdown:hover .sub-dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}