<!-- Presentazione campagna -->
<section class="section" id="sezione-intro">
    <h2>LA CAMPAGNA</h2>
    <hr>
    <div class="campaign">
        <div class="campaign-info">
            <div class="carousel">
                <div class="slides">
                    <div class="slide">
                        <img src="img/imgs_home/ImgxHome1.jpg" alt="Image 1">
                    </div>
                    <div class="slide">
                        <img src="img/imgs_home/ImgxHome2.jpg" alt="Image 2">
                    </div>
                    <div class="slide">
                        <img src="img/imgs_home/ImgxHome3.jpg" alt="Image 3">
                    </div>
                </div>
                <button class="prev">&#8249;</button>
                <button class="next">&#8250;</button>
            </div>
            <p >Descrizione breve campagna</p>
        </div>
    </div>
</section>

<!-- Presentazione giocatori -->
<section class="section">
    <h2>I GIOCATORI</h2>
    <hr>
      
    <div id="sezione-giocatori">

            <!-- Samuel -->
            <div class="player-card">
                <div class="player-info"></div>
                <div class="fade-img">
                    <img id="img2" class="overlay-image" src="img/players/god.png" alt="GOD">
                    <img id="img1" src="img/persone/samuel.jpg" alt="SamuelIbrahimi">
                    <div class="fade-names">
                        <p id="name1" >Samuel Ibrahimi</p>
                        <p id="name2" class="overlay-name">Dio primordiale EON</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player | Main Master</p>
                </div>
            </div>
            <!-- Nicola -->
            <div class="player-card">
                <div class="fade-img">
                    <img class="overlay-image" id="img2" src="img/players/milean.jpg" alt="Milean">
                    <img id="img1" src="img/persone/nicola.jpg" alt="SamuelIbrahimi">
                    <div class="fade-names">
                        <p id="name1" >Nicola Moretta</p>
                        <p id="name2" class="overlay-name">Milean Nema</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player | Master</p>
                </div>
            </div>
            <!-- Kevin -->
            <div class="player-card">
                <div class="fade-img">
                    <img class="overlay-image" id="img2" src="img/players/ecle.jpg" alt="EcleTauvros">
                    <img id="img1" src="img/persone/kevin.jpg" alt="KevinXhani">
                    <div class="fade-names">
                        <p id="name1" >Kevin Xhani</p>
                        <p id="name2" class="overlay-name">Ecle Tavros</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player</p>
                </div>
            </div>
            <!-- Diego -->
            <div class="player-card">
                <div class="fade-img">
                    <img class="overlay-image" id="img2" src="img/players/dedachos.jpg" alt="DedachosNipphos">
                    <img id="img1" src="img/persone/diego.jpg" alt="DiegoFausti">
                    <div class="fade-names">
                        <p id="name1" >Diego Fausti</p>
                        <p id="name2" class="overlay-name">Dedachos Gnippohs</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player</p>
                </div>
            </div>
            
            <!-- Davide -->
            <div class="player-card">
                <div class="fade-img">                    
                    <img class="overlay-image" id="img2" src="img/players/conmat.jpg" alt="Conmat">
                    <img id="img1" src="img/persone/davide.jpg" alt="DavideOmodei">
                    <div class="fade-names">
                        <p id="name1" >Davide Omodei</p>
                        <p id="name2" class="overlay-name">Conmat</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player</p>
                </div>
            </div>
            <!-- Tommaso -->
            <div class="player-card">
                <div class="fade-img">                    
                    <img class="overlay-image" id="img2" src="img/players/zaris.png" alt="Zaris">
                    <img id="img1" src="img/persone/cino.jpg" alt="TommasoCinini">
                    <div class="fade-names">
                        <p id="name1" >Tommaso Cinini</p>
                        <p id="name2" class="overlay-name">Zaris</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player</p>
                </div>
            </div>
            <!-- Manuel -->
            <div class="player-card">
                <div class="fade-img">
                    <img class="overlay-image" id="img2" src="img/players/alador.jpg" alt="Alador">
                    <img id="img1" src="img/persone/manuel.jpg" alt="ManuelDemasi">
                    <div class="fade-names">
                        <p id="name1" >Manuel Demasi</p>
                        <p id="name2" class="overlay-name">Alador</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player</p>
                </div>
            </div>
            <!-- Philemon -->
            <div class="player-card">
                <div class="fade-img">
                    <img class="overlay-image" id="img2" src="img/players/alatus.jpg" alt="Alatus">
                    <img id="img1" src="img/persone/philemon.jpg" alt="PhilemonBekele">
                    <div class="fade-names">
                        <p id="name1" >Philemon Bekele</p>
                        <p id="name2" class="overlay-name">Alatus</p>
                    </div>
                </div>
                <div class="player-info">
                    <p class="player-role">Player</p>
                </div>
            </div>
        </div>


</section>