<!-- Presentazione campagna -->
<section>
    <h2>LA CAMPAGNA</h2>
    <hr>
    <div class="carousel">
        <div class="slides">
            <div class="slide">
                <img src="img/imgs_home/ImgxHome1.jpg" alt="Image 1">
            </div>
            <div class="slide">
                <img src="img/imgs_home/ImgxHome2.jpg" alt="Image 2">
            </div>
            <div class="slide">
                <img src="img/imgs_home/ImgxHome3.jpg" alt="Image 3">
            </div>
        </div>
        <button class="prev">&#8249;</button>
        <button class="next">&#8250;</button>
    </div>
    <p >Descrizione breve campagna</p>
</section>

<!-- Presentazione giocatori -->
<section>
    <h2>I GIOCATORI</h2>
    <hr>
      
    <div class="player-grid">

        <% JSON.parse(include(playersPath)).forEach((player) => { %>
            <%- include('./playercard', {player: player}); %>
        <% }); %>

    </div>
</section>