
<section class="section">
    <h2>benvenuti , avventurieri</h2>
    <hr>
    <div class="arcipelaghi">
        <h3>l'arcipelago di edean</h3>
        <p>il mondo è molto vasto ma le principali avventure si svolgono in un arcipelago particolare,</p>
        <p>qua ritroviamo varie razze e culture che vivono in pace e in guerra</p>
        <div class="mappa-edean">
            <img class="pngDescrittivo zoomable-image" style="align-self: center;" src="../img/mappe/Mappa_nomi.jpg">
        </div>
    </div>

    <section class="sez">
        <div class="paragrafo">
            <h3>quindi cosa troviamo?</h3>
            <p>in questo mondo troviamo varie regioni con storie differenti, qua le introddurremo velocemente</p>
            <img class="mappa-edean"  src="../img/mappe/viaggio.jpeg" >
        </div>
    </section>

    <section class="sez"> <!-- Polis -->

        <h3>Polis</h3> 
        <p>"regno di tutti"</p>

        <div class="paragrafo">
            <img class="pngDescrittivo"  src="../img/mappe/Polis.jpg" >
            <br><br>
            <p> lo stato delle possibilità, qua tutte le razze sono accettate. da le piu disparate per tutta edean e qui tutti possono avere un'altra opportunità,
                infatti qui ritroviamo forse la comunità piu tollerante di tutta edean, tutti possono avere un lavoro e una posizione politica senza dover essere 
                di un certa razza o classe sociale, come la prima generazione di umani non avevano libertà polis ha l'obbietivo di fornire indipendenza a tutti.
            </p>
        </div>

    </section>

    <section class="sez"> <!-- Ridium -->

        <h3>Ridium</h3> 
        <p>"feudo dei nema"</p>        

        <div class="paragrafo">
            <img class="pngDescrittivo"  src="../img/mappe/RIdium.jpg" >
            <br><br>
            <p>
                uno degli ultimi feudi ancora in piedi della quarta era, mantenuta e egregiamente coordinata dalla famiglia nema
                che da 7 secoli governa Ridium. A Ridium abbiamo una barriera  ,con le legioni delle vette si una milizia armata, 
                che ci separa da possibli attacchi degli orchi.
            </p>
        </div>

    </section>

    <section class="sez"> <!-- Lumines -->

        <h3>Lumines</h3> 
        <p>"La divina landa"</p>

        <div class="paragrafo">
            <img class="pngDescrittivo"  src="../img/mappe/Lumines.jpg" >
            <br><br>
            <p> il paese santo, qua dimora l'alta chiesa vera ed unica religione, qua non si tollera diversità e la parola degli dei è assoluta,
                qua regna il solo ed unico vitrisar, capo della chiesa e tramite tra gli dei creatori e noi semplici mortali.
            </p>
        </div>

    </section>

    <section class="sez"> <!-- Devy D. Jones -->

        <h3>Devy D. Jones</h3>
        <p>"Benedetti dai mari"</p>

        <div class="paragrafo">
            <img class="pngDescrittivo"  src="../img/mappe/Devy d jones.jpg" >
            <br><br>
            <p> Qua abbiamo forse il centro di commerciale navale piu grande, grazie ai suoi corsi d'acqua veloci Devy D Jones regna sul commercio.
                pero solo navigatori di Devy D Jones sanno navigare nel cerchio dell'abisso, abitato da ingenti pericoli. intorno all'isola di Devy ritroviamo
                10 isole benedetta a se con varie ricchezze.
            </p>
        </div>

    </section>

    <section class="sez"> <!-- Eredich -->

        <h3>Eredich</h3> 
        <p>"elfica inventiva"</p>
        <div class="paragrafo">
            <img class="pngDescrittivo"  src="../img/mappe/Eredich.jpg" >
            <br><br>
            <p> la civiltà che mette in risalto l'intelletto della razza elfica, qua vengono acettate solo beni e 
                servizzi di stampo elfico.Essendo una delle civiltà e razze piu antiche hanno segreti e conoscenze 
                incredibili che li permetterono di produrre la mechamagia, un alterazione magica di un metallo permettendo 
                strumenti più complicati alimentati ad essenza elfica,una forma di magia grezza prodotta solo dagli elfi.
            </p>
        </div>

    </section>


    <section class="sez"> <!-- Pakt Teufel -->

        <h3>Pakt Teufel</h3>
        <p>"Le rune mortali,celeste e abissali"</p>

        <div class="paragrafo"> 
            <img class="pngDescrittivo"  src="../img/mappe/Pakt-Teufel.jpg" >
            <br><br>
            <p> 
                un paese che rigetta la magia arcana, per i suoi conflitti negli primi anni della quinta era.
                Sviluppo l'arte delle rune incastrandone il potere di energie esterne e misteriose.
            </p>
        </div>

    </section>

    <section class="sez"> <!-- Shatten -->

        <h3>Shatten</h3> 
        <p>"Le profonde terre"</p>
        <div class="paragrafo">
            <img class="pngDescrittivo"  src="../img/mappe/Shatten.jpg" >
            <br><br>
            <p> 
            </p>
        </div>

    </section>

    <section class="sez"> <!-- R'liygh -->

        <h3>R'liygh</h3> 
        <p>"l'isola selvaggia"</p>

        <div class="paragrafo">
            <img src="../img/mappe/R'lygh.jpg" >
            <br><br>
            <p> 
            </p>
        </div>

    </section>


</section>

