<section class="section">

    <h2>foresta delle luci fioche</h2>
    <hr>

    <div id='wrapper'>
            <div id='image'></div>
    </div>
    <section class="sez">
        <h3>ma dove ci troviamo?</h3>

        

        <div class="paragrafo">
            <br><br>
            <p>
                Polis è stata fondata nella quarta era dalle quattro stelle di pol, una squadra di mercenari che conquistarono
                per la chiesa una terra dell'antica civiltà degli spiriti.
            </p>
        </div>

    </section>
   

</section>