<section class="section">
    <h2>La divina landa</h2>
    <hr>

    <div id='wrapper'>
            <div id='image'></div>
    </div>
    <section class="sez">
        <h3>Dove ci troviamo?</h3>

        

        <div class="paragrafo">

            <div style="align-self: left;">
            
                <div style="text-align: left;">
                    <img class="img-supp" src="../../img/lore/lumines.jpg">
                    <p>"un avventuriero che si approccia alla santa citta"</p>
                </div>

                <div style="align-content: left;">

                    <p> 
                        descrizionedescrizionedescrizionedescrizione
                    </p>

                </div>

            </div>

        </div>

    </section>
   

</section>