<section class="section">
    <h2>Polis, regno di tutti</h2>
    <hr>
    <section class="sez">
        <h3>ma dove ci troviamo?</h3>

        <div class="paragrafo">
            <img class="pngDescrittivo"  src="../../img/mappe/Mappa_nomi.jpg" >
            <br><br>
            <p>
                Polis è stata fondata nella quarta era dalle quattro stelle di pol, una squadra di mercenari che conquistarono
                per la chiesa una terra dell'antica civiltà degli spiriti.3
            </p>
        </div>

    </section>
   

</section>