<section class="section">
    <h2>regno di tutti</h2>
    <hr>
    <section class="sez">
        <h3>ma dove ci troviamo?</h3>

        <div id='wrapper'>
            <div id='image'></div>
        </div>

        <div class="paragrafo">
            <br><br>
            <p>
                Polis è stata fondata nella quarta era dalle quattro stelle di pol, una squadra di mercenari che conquistarono
                per la chiesa una terra dell'antica civiltà degli spiriti.
            </p>
        </div>

    </section>
   

</section>